<ion-view view-title="Usuario">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#" class="item item-avatar item-icon-left">
                    <!-- <img src="img/jon-snow.jpg"> -->
                    <i class="icon ion-person muted"></i>
                    <h2 style="color: black;">Nombre</h2>
                    <p>{{usuarios[0].nombre}}</p>
                </a>
                <a href="#" class="item item-avatar item-icon-left">
                    <!-- <img src="img/daenerys.jpg"> -->
                    <i class="icon ion-clock muted"></i>
                    <h2 style="color: black;">Edad</h2>
                    <p>{{usuarios[0].edad}}</p>
                </a>
                <a href="#" class="item item-avatar item-icon-left">
                    <!-- <img src="img/arya.jpg"> -->
                    <i class="icon ion-home muted"></i>
                    <h2 style="color: black;">Ciudad</h2>
                    <p>{{usuarios[0].ciudad}}</p>
                </a>
                <a href="#" class="item item-avatar item-icon-left">
                    <!-- <img src="img/sansa.jpg"> -->
                    <i class="icon ion-briefcase muted"></i>
                    <h2 style="color: black;">Profesión</h2>
                    <p>{{usuarios[0].profesion}}</p>
                </a>
                <a href="#" class="item item-avatar item-icon-left">
                    <!-- <img src="img/tyrion.jpg"> -->
                    <i class="icon ion-at muted"></i>
                    <h2 style="color: black;">E-mail</h2>
                    <p>{{usuarios[0].email}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
